@model ViewModel
@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;

}


    <div style="width: 40%; height: 1000px; margin-left: 30%; box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.52) ">
        <div class="container" style="; ">
            <img src="~/no-profile-pic-icon-24.jpg" style="width: 30%; margin-left:35%;border-radius:50%" />
            <h3 style="margin-left:25%">@userName</h3>

            <h3 style="margin-top:5%; margin-left:25%">Greeting</h3>
            <p style="margin-top:2%;margin-left:25%">Hello welcome to my profile.</p>

        </div>
    </div>
}
