@using Microsoft.AspNetCore.Identity
@using Messenger.Models
@inject SignInManager<MessengerUser> SignInManager
@inject UserManager<MessengerUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>@ViewData["Title"] - Messenger</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a style="color:crimson;padding-left:10px; padding-right:10px;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Messenger</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (SignInManager.IsSignedIn(User))
    {
        <div style="width: 15%; margin-right: 8%; float: left; margin-left">
            <div class="sidebar; vertical-menu" style="margin-left:25%;box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.52)">
                <div>
                    <a href="#"><i class="fas fa-home"></i>Home</a>
                    <a href="C:\Users\Johnny\Documents\GitHub\Messenger\Messenger\Views\Home\Index.cshtml"><i class="fas fa-user"></i>Profile</a>
                    <a href="#"><i class="fas fa-address-card"></i>About</a>
                    <a href="#"><i class="fas fa-project-diagram"></i>portfolio</a>
                    <a href="#"><i class="fas fa-blog"></i>Blogs</a>
                    <a href="#"><i class="fas fa-address-book"></i>Contact</a>
                    <a href="#"><i class="fas fa-map-pin"></i>Map</a>
                </div>
                <div class="social_media">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    }
        @*<div id="Users" class="col-3">
                <vc:direct-message />
            </div>*@

        <div @*class="container"*@>

            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        @*<footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2020 - Messenger - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>*@
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
