@using Microsoft.AspNetCore.Identity
@using Messenger.Models
@inject SignInManager<MessengerUser> SignInManager
@inject UserManager<MessengerUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>@ViewData["Title"] - Messenger</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

    <header style="position:sticky">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="position: static; top: 0; width:100%">
            <div class="container">
                <img style="width:5%" src="~/997397.png" />
                <a style="color:crimson;padding-left:10px; padding-right:10px;font-size:200%" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Messenger</a>
                <form style="margin-left:10%; margin-top:0.5%">
                    @using (Html.BeginForm("Search", "Profile", FormMethod.Get))
                    {
                        <p>
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                            <input style="float:right;" class="nav-link btn btn-link text-dark" type="submit" value="Search" asp-controller="Profile" asp-action="Search" />
                        </p>
                    }
                </form>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (SignInManager.IsSignedIn(User))
    {
        <div  style="width: 15%; margin-right: 8%; float: left; margin-left; position:sticky; top:70px">
            <div class="sidebar; vertical-menu" style="margin-left:80%;">
                <div>
                    <a style="border-top-left-radius: 50%; border-top-right-radius: 50%; "asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a>
                    <a asp-area="" asp-controller="Home" asp-action="Profile"><i class="fas fa-user"></i>Profile</a>
                    <a href="#"><i class="fas fa-address-card"></i>Explore</a>
                    <a asp-area="" asp-controller="Home" asp-action="ChatHome"><i class="fab fa-facebook-messenger"></i>Messenger</a>
                    <a asp-area="" asp-controller="Profile" asp-action="Search"><i class="fas fa-blog"></i>Search</a>
                    <a href="#"><i class="fas fa-address-book"></i>Contact</a>
                    <a href="#"><i class="fas fa-map-pin"></i>Map</a>
                </div>
                <div class="social_media">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    }
    else  
    { 
        <div style="width: 15%; margin-right: 8%; float: left; margin-left; position:sticky; top:70px">
            <h3 style="margin-left:20%">SIGN IN</h3>
            <h3 style="margin-left:5%">TO EXPERIENCE</h3>
            <h3 style="margin-left:11%">MESSENGER</h3>
        </div>
    }
    

    <div >

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Messenger - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/StickyNav.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
